@model CloudNine.TechTest.Web.Models.SearchResultsViewModel

<div>
    Resultat för <strong> @Model.GenreSearchString</strong>:

    <ul>
        @foreach(var track in Model.TrackNames) {
            { <li>@track</li>}
        }
    </ul>
</div>